.mocha {
  background-color: #f5f1e7;
}

.container-xl {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.rounded-3 {
  border-radius: 8px;
}

.rounded {
  border-radius: 6px;
}

.border {
  border: 1px solid #30363d;
}

.border-bottom {
  border-bottom: 1px solid #30363d;
}

.box-shadow-active-border-inverse-mktg {
  box-shadow: 0 0 0 1px rgb(0 0 0 / 50%), 0 70px 65px rgb(0 0 0 / 18%),
    0 30px 30px rgb(0 0 0 / 14%), 0 15px 15px rgb(0 0 0 / 12%),
    0 10px 8px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 8%),
    0 2px 2px rgb(0 0 0 / 6%) !important;
}

.color-bg-subtle {
  background-color: #161b22;
}

.color-bg-muted {
  background-color: #8b949e;
}

.color-bg-default {
  background-color: #0d1117;
}

.color-fg-default {
  color: #fff;
}

.overflow-hidden {
  overflow: hidden;
}

.position-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.flex-items-center {
  align-items: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.p-3 {
  padding: 16px;
}

.px-2 {
  padding-right: 8px;
  padding-left: 8px;
}
.px-3 {
  padding-right: 16px;
  padding-left: 16px;
}

.pb-8 {
  padding-bottom: 64px;
}

.pt-5 {
  padding-top: 32px;
}
@media (min-width: 768px) {
  .px-md-8 {
    padding-right: 64px;
    padding-left: 64px;
  }
}

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

@media (min-width: 768px) {
  .width-auto {
    width: auto;
  }
}

.width-full {
  width: 100%;
}
@media (min-width: 768px) {
  .d-md-block {
    display: block;
  }
}
.d-none {
  display: none;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* Recommended icon sizes */
.span.size-20 {
  font-size: 20px;
  font-variation-settings: "OPSZ" 20;
}
.span.size-24 {
  font-size: 24px;
  font-variation-settings: "OPSZ" 24;
}
.span.size-40 {
  font-size: 40px;
  font-variation-settings: "OPSZ" 40;
}
.span.size-48 {
  font-size: 48px;
  font-variation-settings: "OPSZ" 48;
}

/* Rules for using icons as black on a light background. */
.dark {
  background: black;
  color: rgba(255, 255, 255, 1);
  font-variation-settings: "GRAD" -25;
}
.dark-inactive {
  background: black;
  color: rgba(255, 255, 255, 0.3);
  font-variation-settings: "GRAD" -25;
}
